ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=auctiondb;Username=postgres;Password=postgres

Jwt__Key=zmien_na_losowy_klucz_min_32_znaki
Jwt__Issuer=AuctionSystem
Jwt__Audience=AuctionSystemUsers

Cors__AllowedOrigins=http://localhost:5173

ASPNETCORE_ENVIRONMENT=Production
